<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">

	<bean id="RoleService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="app.service.impl.RoleServiceImpl">
				<property name="roleDAO" ref="RoleDAO" />
			</bean>
		</property>
	</bean>


	<bean id="bookService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="app.service.impl.BookServiceImpl">
				<property name="bookDAO" ref="bookDAO" />
			</bean>
		</property>
	</bean>


	<bean id="followService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="app.service.impl.FollowServiceImpl">
				<property name="followDAO" ref="followDAO" />
			</bean>
		</property>
	</bean>


	<bean id="activityService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="app.service.impl.ActivityServiceImpl">
				<property name="activityDAO" ref="activityDAO" />
			</bean>
		</property>
	</bean>

	<bean id="commentService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="app.service.impl.CommentServiceImpl">
				<property name="commentDAO" ref="commentDAO" />
			</bean>
		</property>
	</bean>


	<bean id="likeService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="app.service.impl.LikeServiceImpl">
				<property name="likeDAO" ref="likeDAO" />
			</bean>
		</property>
	</bean>


	<bean id="requestService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="app.service.impl.RequestServiceImpl">
				<property name="requestDAO" ref="requestDAO" />
			</bean>
		</property>
	</bean>

	<bean id="userService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="app.service.impl.UserServiceImpl">
				<property name="userDAO" ref="userDAO" />
			</bean>
		</property>
	</bean>

	<bean id="markService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="app.service.impl.MarkServiceImpl">
				<property name="markDAO" ref="markDAO" />
			</bean>
		</property>
	</bean>


	<bean id="categoryService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="app.service.impl.CategoryServiceImpl">
				<property name="categoryDAO" ref="categoryDAO" />
			</bean>
		</property>
	</bean>


</beans>
